body
{
    display: flex;
    flex-direction: column;
}

main
{
    display: flex;
    flex-direction: row;
    flex: auto;
}

#article1
{
    flex: 2;
    overflow-y: auto;
}

#aside
{
    flex: 1;
    overflow-y: auto;
}

/*#tweets
{
    flex: 2;
    overflow-y: auto;
}*/

#h1_tweets
{
    flex-wrap: inherit;
}

#home_link
{
    flex: auto;
    text-align: left;
}